@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    width: 73px;
    height: 55px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .2rem;
}

.black {
    background-color:rgb(27, 27, 27, 0.7);
}

.orange {
    background-color: rgb(255, 166, 0, 0.7);
}

button:hover {
    cursor: pointer;
}

.container, .calculator {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.container {
    width: 600px;
    height: 500px;
}

.calculator {
    width: 314px;
    height: 400px;
    background: #1b1b1b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1b1b1b, #aca4a8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1b1b1b, #aca4a8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
}

.result {
    height: 40%;
    padding: 1rem;
}

.keyboard {
    height: 60%;
    padding: .3rem;
}

.preview, .output {
    width: 286px;
    height: 50%;
    text-align: right;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.65);
}

.preview {
    padding: 1rem auto;
    font-size: 1.5rem;
}

.output {
    font-size: 3.8rem;
}
