@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    width: 72px;
    height: 65px;
    outline: none;
    border: 1.2px solid rgba(199, 188, 188, 0.35);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: -.3rem;
}

button:hover {
    cursor: pointer;
}

.container, .calculator {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.container {
    width: 600px;
    height: 500px;
}

.calculator {
    width: 286px;
    height: 373px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    
}

.result {
    height: 30%;
    padding-bottom: 1rem;
}

.keyboard {
    height: 70%;
}

.preview, .output {
    width: 286px;
    height: 50%;
    text-align: right;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.65);
}

.preview {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.output {
    font-size: 3.8rem;
}
